.main-img{
    height:85vh;
    width:100%;
    /* background-size: cover; */
    /* background-position: center; */
    object-fit: contain;
    /* margin-top: 30px; */
    transform: translateX(150px);
    text-align: left;
}
.header {
    margin-top: 3vh;
    z-index: -1;
    background-color: #1D4FA6;
}