
.section{
  word-spacing: 100px;
  color: aliceblue;
  margin-top: 30px;
  gap: 30px;

}
.box{
  background-color: #326cb5;
  color: aliceblue;
  display: flex;
  position:fixed;
  width: 100%;
  height: 80px;
 

}
.h1{
  margin-left: 100px;
  margin-right: 60px;
}
.button{
  border-radius: 25px;
  background-color:rgb(121, 129, 222);
  margin-left: 30px;

}