.dashboard {
    display: flex;
    height: 100vh;
    /* margin-top: 10vh; */
  }
  
  .dashboard-content {
    color: white;
    flex-grow: 1;
    min-width: 0;  /* ✅ Prevents content from overflowing */
    height: 100vh; /* ✅ Ensures full height */
    overflow-y: auto;
    overflow-x: hidden; /* ✅ Prevents unwanted horizontal scrolling */
    padding-bottom: 20px
  }
  