.dashboard {
    display: flex;
    height: 100vh;
    margin-top: 10vh;
  }
  
  .dashboard-content {
    color: white;
    flex-grow: 1;
    padding: 2rem;
    /* background-color: #ecf0f1; */
    background-color: #2C2D33;
    overflow-y: auto;
  }
  