/* Login Page Main Layout */
.login-page {
  display: flex;
 /* height: 100vh; */
 margin-top: 5.5vh;
  font-family: "Arial", sans-serif;
}

/* Left Section */
.login-page-left {
  flex: 1;
  /* background-image: url(https://media.istockphoto.com/id/1463013729/photo/online-registration-form-for-modish-form-filling.webp?a=1&b=1&s=612x612&w=0&k=20&c=XuFG-ld8CGs24t7g569vPupOI2bTcvqwq2NuPTuOfIo=);Purple gradient */
  object-fit: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.welcome-message h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.welcome-message .brand-name {
  color: #fff700;
}

.welcome-message p {
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.6;
}

.footer {
  margin-top: auto;
  font-size: 0.9rem;
  opacity: 0.7;
}

/* Right Section */
.login-page-right {
  flex: 1;
  background: #f8f9fa;
  display: flex;
  align-items: center;
  /* width: 100%; */
  justify-content: center;
 
}

.login-container {
  width: 100%;
   max-width: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* text-align: center; */
  object-fit: contain;

}

.login-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.login-container p {
  font-size: 0.9rem;
  margin-bottom: 20px;
  color: #555;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
  

}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  background: #3a00d4;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.google-login {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 0.9rem;
  background: white;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.forgot-password {
  color: #3a00d4;
  font-size: 0.9rem;
  text-decoration: none;
}


